*.o
*.lo
.deps
.libs
FormatConverter/uva-sample-complete/
FormatConverter/uva-sample/
autom4te.cache/
config.h.in~
FormatConverter/Makefile
FormatConverter/formatconverter
Formats/Makefile
Formats/libFormats.la
Makefile
PreVentTools/Makefile
PreVentTools/preventtools
config.h
config.log
config.status
libtdms/Makefile
libtdms/libtdms.la
libtool
stamp-h1


